*.o
*.lo
*.a
log/agent.log
agent.pid
.libs
.deps
.DS_Store
example
config.log
config.h
*.la
*~
*.gcda
*.gcno
*.suo
*.ncb
Debug
Release
emc/Makefile
fake/Makefile
lib/dlib/Makefile
lib/libxml++-2.24.0/docs/Makefile
lib/libxml++-2.24.0/docs/manual/Makefile
lib/libxml++-2.24.0/docs/reference/Makefile
lib/libxml++-2.24.0/examples/dom_build/Makefile
lib/libxml++-2.24.0/examples/dom_parse_entities/Makefile
lib/libxml++-2.24.0/examples/dom_parser/Makefile
lib/libxml++-2.24.0/examples/dom_parser_raw/Makefile
lib/libxml++-2.24.0/examples/dom_read_write/Makefile
lib/libxml++-2.24.0/examples/dom_xpath/Makefile
lib/libxml++-2.24.0/examples/dtdvalidation/Makefile
lib/libxml++-2.24.0/examples/import_node/Makefile
lib/libxml++-2.24.0/examples/Makefile
lib/libxml++-2.24.0/examples/sax_exception/Makefile
lib/libxml++-2.24.0/examples/sax_parser/Makefile
lib/libxml++-2.24.0/examples/sax_parser_build_dom/Makefile
lib/libxml++-2.24.0/examples/sax_parser_entities/Makefile
lib/libxml++-2.24.0/examples/schemavalidation/Makefile
lib/libxml++-2.24.0/examples/textreader/Makefile
lib/libxml++-2.24.0/libxml++/exceptions/Makefile
lib/libxml++-2.24.0/libxml++/io/Makefile
lib/libxml++-2.24.0/libxml++/Makefile
lib/libxml++-2.24.0/libxml++/nodes/Makefile
lib/libxml++-2.24.0/libxml++/parsers/Makefile
lib/libxml++-2.24.0/libxml++/validators/Makefile
lib/libxml++-2.24.0/Makefile
lib/libxml++-2.24.0/MSVC_Net2005/examples/dom_build/Makefile
lib/libxml++-2.24.0/MSVC_Net2005/examples/dom_parse_entities/Makefile
lib/libxml++-2.24.0/MSVC_Net2005/examples/dom_parser/Makefile
lib/libxml++-2.24.0/MSVC_Net2005/examples/dom_read_write/Makefile
lib/libxml++-2.24.0/MSVC_Net2005/examples/dom_xpath/Makefile
lib/libxml++-2.24.0/MSVC_Net2005/examples/dtdvalidation/Makefile
lib/libxml++-2.24.0/MSVC_Net2005/examples/import_node/Makefile
lib/libxml++-2.24.0/MSVC_Net2005/examples/Makefile
lib/libxml++-2.24.0/MSVC_Net2005/examples/sax_exception/Makefile
lib/libxml++-2.24.0/MSVC_Net2005/examples/sax_parser/Makefile
lib/libxml++-2.24.0/MSVC_Net2005/examples/sax_parser_build_dom/Makefile
lib/libxml++-2.24.0/MSVC_Net2005/examples/sax_parser_entities/Makefile
lib/libxml++-2.24.0/MSVC_Net2005/examples/textreader/Makefile
lib/libxml++-2.24.0/MSVC_Net2005/gendef/Makefile
lib/libxml++-2.24.0/MSVC_Net2005/libxml++/Makefile
lib/libxml++-2.24.0/MSVC_Net2005/Makefile
lib/libxml++-2.24.0/scripts/Makefile
lib/libxml++-2.24.0/win32_msvc6/examples/Makefile
lib/libxml++-2.24.0/win32_msvc6/Makefile
lib/dlib/CMakeCache.txt
lib/dlib/CMakeFiles/
lib/dlib/cmake_install.cmake
lib/libxml++-2.24.0/config.status
lib/libxml++-2.24.0/libtool
lib/libxml++-2.24.0/libxml++-2.6.pc
lib/libxml++-2.24.0/libxml++.spec
lib/libxml++-2.24.0/libxml++/libxml++config.h
lib/libxml++-2.24.0/libxml++/stamp-h2
lib/libxml++-2.24.0/stamp-h1
lib/cppunit-1.12.1/bin
lib/cppunit-1.12.1/lib/*.dylib
lib/cppunit-1.12.1/lib/*.so
*.vcproj.*
